<!-- CONTACT_FORM -->
<section class="bg-dark full-page" id="contact_form">
    <h2 class="form-header">{{  EMAILFORMheader }}</h2>
    <form method="POST" action="//formspree.io/{{ EMAILFORMaddress }}">
        <fieldset class="contact-info-group">
            <label><span>{{ EMAILFORMname }}</span>
                <input type="text" name="name">
            </label>
            <label><span>{{ EMAILFORMaddress }}</span>
                <input type="email" name="_replyto">
            </label>
        </fieldset>
        <label><span>{{ EMAILFORMmessage }}</span>
            <textarea name="message"></textarea>
        </label>
        <fieldset class="submit-wrap">
            <input type="submit" value="{{ EMAILFORMbutton }}">
        </fieldset>
    </form>
</section>
